<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="Gallery" icon-off="ion-images" icon-on="ion-images" href="#/tab/gallery">
     <ion-nav-view name="tab-gallery"><</ion-nav-view> 
  </ion-tab>

  <ion-tab title="New Image" icon-off="ion-camera" icon-on="ion-camera" href="#/tab/new-image">
     <ion-nav-view name="tab-new-image"><</ion-nav-view> 
  </ion-tab>
</ion-tabs>
